{% extends "base.html" %}

{% block content %}
<h1>Login to Rango</h1>
{% if form.errors %}
<p>Your email and password didn't match. Please try again.</p>
{% endif %}

{% if invalid %}
    Your email/password combo doesn't exist. 
{% endif %}
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        {% if logged_in %}
        {% else %}
			<p>Your email and password didn't match. Please try again.</p>
		{% endif %}

{% endblock %}