{% extends "base.html" %}

{% block content %}

	<a href="{% url 'index' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
	<h3>{{product.name | capfirst }}</h3>
	<h4>Price: <span style="color: rgb(177, 39, 4)">{{product.price}}</span> </h4>
	<h4>In stock: <span style="color: rgb(0, 138, 0)">{{ product.stock_quantity }}</span> </h4>
	<br/>
	<h4>Description:</h4>
	<p> {{ product.description }} </p>
	{% if user.is_anonymous %}
	<p><a href="{% url 'login' %}">Sign In </a>or <a href="{% url 'register' %}">Register</a> to Add to Cart!</p>
	{% else %}
	
	<form action="/product/{{product.id}}/" method="post">
		{% csrf_token %}
    <label for="quantity" style="display: block;">Quantity: </label>
    <input id="quantity" type="number" name="quantity" value="1" >
    <input class="btn btn-default" type="submit" value="Add to Cart">
	</form>
	{% endif %}

{% endblock content %}

