{% extends "base.html" %}

{% block content %}

	<a href="{% url 'index' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
	<h3>{{product.name | capfirst }}</h3>
	<h4>Price: {{product.price}}</h4>
	<p>Currently in stock: {{ product.stock_quantity }} </p>
	<h4>Description:</h4>
	<p> {{ product.description }} </p>
	{% if user.is_anonymous %}
	<p><a href="{% url 'login' %}">Sign In </a>or <a href="{% url 'register' %}">Register</a> to Add to Cart!</p>
	{% else %}
	
	<form action="/product/{{product.id}}/" method="post">
		{% csrf_token %}
    <label for="quantity">quantity: </label>
    <input id="quantity" type="number" name="quantity" value="1">
    <input type="submit" value="OK">
	</form>
	{% endif %}

{% endblock content %}

