{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="well well-sm">
                <h2 class="text-center">Cart</h2>
                <table class="table table-striped">
                <tr>
                    <th>Product</th>
                    <th>Price</th> 
                    <th>Qty.</th>
                </tr>
                {% for cart in carts %}
                <tr>
                    <td ><a href="{% url 'product_detail' cart.product.id %}">{{ cart.product.name | capfirst }}</a></td>
                    <td ><a href="{% url 'product_detail' cart.product.id %}">{{ cart.product.price }}</a></td>
                    <td href="">{{ cart.quantity}}</td>
                </tr>
                {% endfor %}
                </table>
                <p>total is {{total}}</p>
                <div class="btn-group">
                            <a href="{% url 'account' %}" type="button" class="btn btn-primary">Back</a>
                </div>
                <div class="btn-group pull-right">
                    <form action="/account/orders/" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Place Order">
                    </form>
                    <!-- <a href="{% url 'orders' %}" type="button" class="btn btn-primary">Place Order</a> -->
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>
{% endblock content %}
