{% extends "base.html" %}

{% block content %}

    
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <h2 class="text-center">Orders Placed</h2>
                <table class="table table-striped">
                <tr>
                    <th>OrderID</th>
                    <th>Paid</th> 
                    <th>Date.</th>
                </tr>
                {% for orderRelation in orders %}
                <tr>
                    <td ><a href="{% url 'order_detail' orderRelation.order.id %}">{{ orderRelation.order.id }}</a></td>
                    <td>{{ orderRelation.order.paid }}</td>
                    <td>{{ orderRelation.order.date}}</td>
                </tr>
                {% endfor %}
                </table>
                
                <div class="btn-group">
                            <a href="{% url 'account' %}" type="button" class="btn btn-primary">Back</a>
                </div>
            </div>
            {% if inventoryErrorMessage %}
            <div class="alert alert-danger" role="alert">Order could not be completed because the product, {{inventoryErrorMessage}}, does not have enough inventory.</div>
            
            {% endif %}
        </div>
        <div class="col-sm-3 col-md-3"></div>
    </div>
</div>


{% endblock content %}
